@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-neutral-100;
  }
}

@layer utilities {
  @keyframes header-blur {
    0% {
      --tw-backdrop-blur: blur(theme('backdropBlur.0'));
      background-color: rgba(0, 0, 0, 0);
    }

    50% {
      --tw-backdrop-blur: blur(theme('backdropBlur.lg'));
      background-color: rgba(2, 4, 10, 0.4);
    }

    100% {
      --tw-backdrop-blur: blur(theme('backdropBlur.lg'));
      background-color: rgba(2, 4, 10, 0.7);
    }
  }
}
